# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# venv
ner_tagger

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# data folders
data
pre-trained-embeddings

# model files
models/**/*.json
models/**/results/model/*
models/**/results/export
models/**/results/logs

# For mac
.DS_Store